[tool.poetry]
name = "python_gardenlinux_lib"
version = "0.6.0"
description = "Contains tools to work with the features directory of gardenlinux, for example deducting dependencies from feature sets or validating cnames"
authors = ["Garden Linux Maintainers <contact@gardenlinux.io>"]
license = "Apache-2.0"
readme = "README.md"
packages = [{include = "python_gardenlinux_lib", from="src"}]

[tool.poetry.dependencies]
python = "^3.12"
networkx = "^3.3"
PyYAML = "^6.0.2"
pytest = "^8.3.2"
gitpython = "^3.1.43"
apt-repo = "^0.5"
jsonschema = "^4.23.0"
oras = { git  = "https://github.com/oras-project/oras-py.git", rev="caf8db5b279382335fbb1f6d7402ed9b73618d37" }
python-dotenv = "^1.0.1"
cryptography = "^44.0.0"
boto3 = "*"


[tool.poetry.group.dev.dependencies]
black = "^24.8.0"
bandit = "^1.8.3"

[tool.poetry.group.docs.dependencies]
sphinx = "^8.2.3"
sphinx-rtd-theme = "^3.0.2"

[tool.poetry.scripts]
gl-cname = "python_gardenlinux_lib.cname:main"
gl-flavors-parse = "python_gardenlinux_lib.flavors.parse_flavors:main"
flavors-parse = "python_gardenlinux_lib.flavors.parse_flavors:main"
gl-oci = "python_gardenlinux_lib.oci.cli:main"

[tool.pytest.ini_options]
pythonpath = [
  "src"
]
norecursedirs = "test-data"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
