[tool.poetry]
name = "gardenlinux"
version = "0.8.0"
description = "Contains tools to work with the features directory of gardenlinux, for example deducting dependencies from feature sets or validating cnames"
authors = ["Garden Linux Maintainers <contact@gardenlinux.io>"]
license = "Apache-2.0"
readme = "README.md"
packages = [{include = "gardenlinux", from="src"}]

[tool.poetry.dependencies]
python = "^3.13"
networkx = "^3.3"
PyYAML = "^6.0.2"
pytest = "^8.3.2"
gitpython = "^3.1.44"
apt-repo = "^0.5"
jsonschema = "^4.23.0"
oras = "^0.2.33"
python-dotenv = "^1.0.1"
cryptography = "^45.0.4"
boto3 = "*"
click = "^8.2.0"
pygments = "^2.19.1"

[tool.poetry.group.dev.dependencies]
bandit = "^1.8.3"
black = "^25.1.0"
pytest = "^8.4.1"
pytest-cov = "^6.2.1"

[tool.poetry.group.docs.dependencies]
sphinx-rtd-theme = "^3.0.2"

[tool.poetry.scripts]
gl-cname = "gardenlinux.features.cname_main:main"
gl-features-parse = "gardenlinux.features.__main__:main"
gl-flavors-parse = "gardenlinux.flavors.__main__:main"
gl-oci = "gardenlinux.oci.__main__:main"
gl-s3 = "gardenlinux.s3.__main__:main"

[tool.pytest.ini_options]
pythonpath = ["src"]
norecursedirs = "test-data"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
