name: pytests

on:
  push:
    branches:
      - main
  pull_request:


jobs:
  test:
    name: Run tests and collect coverage
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: [ "3.13", "3.14" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - name: Setup Gardenlinux
        uses: ./.github/actions/setup
        with:
          python_version: ${{ matrix.python_version }}

      - name: Install dependencies
        run: poetry install --with dev

      - name: Prepare environment
        run: make install-test

      - name: Run tests
        run: |
          export GLOCI_REGISTRY_TOKEN="invalid"
          make test-coverage-ci

      - name: Check for report
        run: test -f coverage.xml

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
